In [26]:
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
%config IPCompleter.greedy=True

In [9]:
dataset = pd.read_csv('Train.csv')
print(dataset.shape)
dataset

(18208, 12)

,Store_Ratio,Basket_Ratio,Category_1,Store_Score,Category_2,Store_Presence,Score_1,Score_2,Score_3,Score_4,time,popularity
0,0.407,0.00380,2,-35.865,1,0.9920,0.944000,0.0988,0.1100,113.911,189125,4
1,0.234,0.10500,0,-19.884,1,0.9440,0.900000,0.1290,0.0382,76.332,186513,4
2,0.668,0.72600,9,-7.512,1,0.0387,0.000000,0.1340,0.4530,124.075,172143,4
3,0.184,0.00561,4,-34.357,1,0.8490,0.931000,0.1110,0.0641,79.037,184000,5
4,0.231,0.13100,6,-22.842,1,0.9370,0.000000,0.1090,0.0677,109.560,186507,3
...,...,...,...,...,...,...,...,...,...,...,...,...
18203,0.403,0.28100,6,-10.365,0,0.4540,0.000000,0.1060,0.1820,112.881,232880,4
18204,0.481,0.01140,4,-26.196,1,0.9910,0.967000,0.0985,0.3430,57.748,155500,4
18205,0.168,0.00908,5,-33.966,0,0.9470,0.946000,0.1250,0.3960,68.775,172500,4
18206,0.598,0.65800,1,-7.159,0,0.3890,0.000000,0.5820,0.4730,106.807,152558,4
18207,0.582,0.32400,2,-10.284,1,0.8070,0.000034,0.1500,0.2490,88.755,237293,3

In [6]:
dataset_test = pd.read_csv('Test.csv')
dataset_test.shape

(12140, 11)

In [18]:
y_train = dataset['popularity']
y_train.shape

(18208,)

In [15]:
X_train = dataset.drop(columns=['popularity'])
X_train.shape

(18208, 11)

In [17]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [43]:
y_pred = model.predict_proba(dataset_test)
y_pred

array([[2.6817595e-05, 9.8489374e-03, 8.1609422e-01, 1.6311435e-01,
        1.0915663e-02],
       [1.4055881e-05, 1.2967275e-03, 1.5690651e-02, 9.8161685e-01,
        1.3817408e-03],
       [2.6169257e-05, 2.6583797e-03, 4.9725242e-02, 9.3333006e-01,
        1.4260154e-02],
       ...,
       [6.0734328e-06, 1.5775078e-04, 5.9268414e-03, 9.9366635e-01,
        2.4295018e-04],
       [6.4170163e-06, 8.3880295e-04, 5.8029974e-03, 9.9272996e-01,
        6.2178244e-04],
       [1.3468145e-05, 1.3760251e-03, 1.1716907e-01, 8.6469859e-01,
        1.6742831e-02]], dtype=float32)

In [46]:
submission = pd.DataFrame(y_pred, columns=model.classes_)
submission

              0         1         3         4         5
0      0.000027  0.009849  0.816094  0.163114  0.010916
1      0.000014  0.001297  0.015691  0.981617  0.001382
2      0.000026  0.002658  0.049725  0.933330  0.014260
3      0.000007  0.001745  0.009730  0.984417  0.004102
4      0.000002  0.000014  0.000737  0.998953  0.000294
...         ...       ...       ...       ...       ...
12135  0.000033  0.059575  0.166994  0.758675  0.014724
12136  0.000002  0.000020  0.000888  0.998551  0.000539
12137  0.000006  0.000158  0.005927  0.993666  0.000243
12138  0.000006  0.000839  0.005803  0.992730  0.000622
12139  0.000013  0.001376  0.117169  0.864699  0.016743

[12140 rows x 5 columns]

In [47]:
submission.to_csv('apoorva_machine_hack.csv', index=False)
## Got log loss of 0.39700 after the basic submission